[user]
    name = Chen Lin
    email = clin@uber.com
    
[color]
    ui = auto

[alias]
    st = status --short
    slog = log --oneline --graph --decorate=short
    br = branch
    ci = commit
    co = checkout
    rb = rebase
   sloga = log --oneline --graph --decorate=short --all
    amend = commit --amend
[core]
    editor = /usr/bin/vim
