[user]
    name = Chen Lin
    email = clin@uber.com
    
[color]
    ui = auto

[alias]
    st = status --short
    slog = log --oneline --graph --decorate=short
    br = branch
    ci = commit
    co = checkout
    rb = rebase
   sloga = log --oneline --graph --decorate=short --all
    amend = commit --amend
[core]
    editor = /usr/bin/vim

[url "ssh://git@github.com/uber/"]
    insteadOf = https://github.com/uber/

[url "ssh://gitolite@code.uber.internal/"]
    insteadOf = git://code.uber.internal/
[url "ssh://gitolite@code.uber.internal:2222/"]
	insteadOf = https://code.uber.internal/
